*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #f1f1f1;
    border-bottom: 1px solid rgb(136, 133, 133);
}

.navbar__ul{
    display: inline-flex;
}

.navbar__li{
    list-style: none;
    padding: 8px 16px;
}

.navbar__link{
    color: blue;
}

.container{
    margin: 0 14px;
}

h1{
    margin: 30px 0;
}

.row{
    display: inline-flex;
}

.col-3{
    width: 20%;
    margin-right: 10px;
}

.col__left{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.col__left-menu{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    background-color: #f1f1f1;
}

.col__left-icon{
    border: 1px solid blue;
    width: 10px;
    height: 8px;
    display: flex;
    align-items: center;
    margin: 0 6px;
    font-size: 25px;
    padding-bottom: 2px;
    padding-left: 1px;
    cursor: pointer;
}

.Quicklinks{
    width: 100%;
    cursor: pointer;
}

.col__left-li{
    list-style: none;
    padding: 10px 12px;
}

.col__left-li:hover{
    background-color: #ccc;
    cursor: pointer;
}

.col-9{
    width: 80%;
    margin-left: 10px;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

h2{
    padding: 6px;

}

.col__right-li{
    list-style: none;
    padding: 6px 0;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
}

.col__right-li p{
    display: inline-flex;
}

.col__right-menu{
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 40px;
}

.col__right-name{
    margin-left: 24px;
}

.col__right-birth{
    margin-left: 12px;
}

.col__right-li input{
    margin-left: 6px;
}

.gender{
    margin-left: 48px;
}

button{
    padding: 6px 16px;
    font-size: 16px;
    margin-left: 86px;
}

table, th,td{
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th{
    background-color: rgb(228, 222, 222);
}

td{
    background-color: #f1f1f1;
}

th, td{
    padding: 6px 20px 6px 6px;
}

.footer{
    text-align: center;
    margin: 30px;
}